@font-face {
  font-family: 'iconfont';  /* Project id 2768765 */
  src: url('//at.alicdn.com/t/font_2768765_2evfwl45sw3.woff2?t=1630293580207') format('woff2'),
       url('//at.alicdn.com/t/font_2768765_2evfwl45sw3.woff?t=1630293580207') format('woff'),
       url('//at.alicdn.com/t/font_2768765_2evfwl45sw3.ttf?t=1630293580207') format('truetype');
}

.m-icon {
	font-family: "iconfont" !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0 5px
}

.icon-tongxunlu::after{
	content: '\e640';
}

.icon-gengduo::after{
	content: '\e689';
}
.icon-dianhua::after{
	content: '\e644';
}
.icon-guaduan::after{
	content: '\e641';
}
.icon-bianji::after{
	content: '\e6af';
}